
.form{
    background: #2b2738;
    color: white;
    padding: 24px;
}
.btn{
    background: #6e54b5;
    width: 100%;
    border-radius: 12px;
}
.inputField{
    background-color: #3b364c;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    width: 100%
}